.content {
	background-color: #d99e6a;
}

.text {
	margin: 50px auto;
	padding: 50px;
	min-width: 60%;
	max-width: 1200px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 25px;
}

.list-group-item {
	background-color: rgba(240, 248, 255, 0.65)
}

.content ul {
	margin: 15px;
	list-style-type: none;
	padding: 0;
}

ul.author {
	margin: 0;
}

ul.smaller li {
	margin: 5px;
	font-size: 12px;
}

.logo {
	float: right;
	height: 100px;
	margin: 15px;
}
