.sidebar {
	flex: 1;
	min-width: 250px;
	background-color: #D99E6A;
	overflow-y: scroll;
	height: calc(100vh - 50px)
}

#map {
	flex: 3;
}

.navbar {
	padding: 5px 20px;
}

/* Accordian Description formatting */
.description {
	font-size: 12px;
}

.layers {
	padding: 10px 0px;
	font-size: 12px;
}

.layers input {
	margin: 0 5px;
}

.sliders {
	width: 100% !important;
}

/* Emphasise disabled/missing list items */
.list-group-item.disabled,
.list-group-item:disabled {
	color: #acbfd0;
}

.OSD {
	width: 80vw;
	height: 80vh;
	border: solid;
}
