@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.content p,
.content h3,
.content li {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.content h1,
.content h2,
.content h4,
.content h5 {
	font-family: 'Philosopher', monospace;
}

.content h1 {
	font-size: 28px;
}

.content h2 {
	font-size: 18px;
}

.content h3 {
	font-weight: bold;
}

.content h4 {
	font-size: 12px;
	margin-bottom: 40px;
}

.citation {
	margin-bottom: 100px;
}

.body-cont {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.text {
	flex: 2;
	min-width: 250px;
	background-color: #D99E6A;
	height: 100%;
	padding: 40vh 50px 100vh 50px;
}

#mapcont {
	flex: 3;
}

#map {
	height: calc(100vh - 50px);
}

.images {
	position: fixed;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	justify-content: space-evenly;
	width: 50%;
	align-items: center;
	transition: all 2s ease-in;
}

.uno {
	max-height: 100%;
	width: 90%;
	border: 5px solid black;
}

.duo {
	max-height: 40%;
	max-width: 80%;
	border: 5px solid black;
	margin: 50px;
}

figcaption {
	background-color: black;
	color: white;
	font-family: 16px 'Open Sans', sans-serif;
	padding: 15px;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: none;
	justify-content: space-evenly;
}

.gallery img {
	border: 5px solid black;
	margin: 20px;
	width: 30%;
}
