/**
 * #ECD078
 * #D95B43
 * #C02942
 * #542437
 * #53777A
 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
p.title {
	font-family: 'Philosopher', monospace;
}

.bold {
	font-weight: bold;
}

.content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: calc(100vw - (100vw - 100%));
}

.section {
	width: 100%;
}

.sectionone {
	height: 30vh;
	background-color: #C02942;
	position: relative;
}

.sectionone .title {
	float: right;
	padding-right: 30px;
	background-color: #53777A;
	text-align: right;
	bottom: 0;
	right: 0;
	width: 40vw;
	position: absolute;
}

.sectiontwo {
	height: 2500px;
}

.sectiontwo .title {
	position: absolute;
	margin-top: 150px;
	margin-left: 50px;
	background-color: #53777A;
	display: inline-block;
	padding: 5px 15px;
}

#s1_map {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
	pointer-events: auto;
}

.s1_list {
	width: 300px;
	padding-bottom: 5vh;
	bottom: 0;
	position: fixed;
}

.sectiontwo .text {
	padding-top: 400px;
	padding-right: 75px;
	float: right;
	text-align: right;
}

.sectiontwo .text p {
	padding-top: 150px;
	font: 700 42px 'Philosopher', monospace;
	-webkit-transition: color 0.2s, font-size 0.2s;
	-moz-transition: color 0.2s, font-size 0.2s;
	-o-transition: color 0.2s, font-size 0.2s;
	transition: color 0.2s, font-size 0.2s;
}

.sectiontwo .text p.active {
	font: 950 52px 'Philosopher', monospace;
	color: red;
}

h5 {
	font-size: 8px;
}

.mapboxgl-popup-content {
	background-color: rgba(255, 255, 255, 0.9)
}

.text-bubble {
	display: inline-block;
	position: absolute;
	margin-left: 300px;
	padding: 15px;
	border-style: solid;
	border-radius: 5px;
	background-color: white;
}

#s2f {
	margin-top: 2000px;
}

.sectionthree .title {
	margin-bottom: 500px;
	margin-left: 20px;
	padding: 15px;
	max-width: 50vw;
	background-color: rgba(255, 255, 255, 0.9)
}

.sectionend {
	height: 2000px;
}

.sectionfour {
	padding: 50px 50px 50px 50px;
	background-color: rgba(216, 157, 106, 1)
}

.sectionfour .title {
	padding: 50px 0;
}

#s4title {
	font-weight: 900;
}

.sectionend {
	background-color: rgba(216, 157, 106, 1)
}

#openseadragon1 {
	width: 80vw;
	height: 80vw;
	margin: 0 auto;
	border-style: solid;
	margin-bottom: 150px;
}

img {
	width: 50vw;
	display: block;
	margin: 15px auto 30px auto;
	width: 40%;
}
